# Importing Modules

In [25]:
import random
import pandas as pd
from operator import itemgetter

# Store information about teams and players.

In [26]:
Mumbai_India = ['Mumbai_India',r'E:\\IIT\\1st Year\\1st Trimester\\CM1601 [PRO]  Programming Fundamentals\\Course Work\\team_data\\Mumbai_India\\Mumbai_India.xlsx']
Chennai_SouthAfrica = ['Chennai_SouthAfrica',r'E:\\IIT\\1st Year\\1st Trimester\\CM1601 [PRO]  Programming Fundamentals\\Course Work\\team_data\\Chennai_SouthAfrica\\Chennai_SouthAfrica.xlsx']
Delhi_NewZealand = ['Delhi_NewZealand',r'E:\\IIT\\1st Year\\1st Trimester\\CM1601 [PRO]  Programming Fundamentals\\Course Work\\team_data\\Delhi_NewZealand\\Delhi_NewZealand.xlsx']
RoyalChallengers_Bangladesh = ['RoyalChallengers_Bangladesh',r'E:\\IIT\\1st Year\\1st Trimester\\CM1601 [PRO]  Programming Fundamentals\\Course Work\\team_data\\RoyalChallengers_Bangladesh\\RoyalChallengers_Bangladesh.xlsx']
Rajastan_Australia =  ['Rajastan_Australia',r'E:\\IIT\\1st Year\\1st Trimester\\CM1601 [PRO]  Programming Fundamentals\\Course Work\\team_data\\Rajastan_Australia\\Rajastan_Australia.xlsx']
Kolkata_England = ['Kolkata_England',r'E:\\IIT\\1st Year\\1st Trimester\\CM1601 [PRO]  Programming Fundamentals\\Course Work\\team_data\\Kolkata_England\\Kolkata_England.xlsx']
Punjab_Pakistan = ['Punjab_Pakistan',r'E:\\IIT\\1st Year\\1st Trimester\\CM1601 [PRO]  Programming Fundamentals\\Course Work\\team_data\\Punjab_Pakistan\\Punjab_Pakistan.xlsx']
Sunrisers_SriLanka = ['Sunrisers_SriLanka',r'E:\\IIT\\1st Year\\1st Trimester\\CM1601 [PRO]  Programming Fundamentals\\Course Work\\team_data\\Sunrisers_SriLanka\\Sunrisers_SriLanka.xlsx']

# the user can delete/edit player and team profiles and system needs to give separate options for each and every functionality

# points table

In [27]:
# https://www.freecodecamp.org/news/how-to-create-read-update-and-search-through-excel-files-using-python-c70680d811d4/

In [28]:
# import openpyxl

# myworkbook = load_workbook(r'E:\\IIT\\1st Year\\1st Trimester\\CM1601 [PRO]  Programming Fundamentals\\Course Work\\team_data\\points_table.xlsx')
# worksheet= myworkbook['Sheet1']

# worksheet['F1']='We are writing to B4'

In [29]:
# import openpyxl

# theFile = openpyxl.load_workbook(r'E:\\IIT\\1st Year\\1st Trimester\\CM1601 [PRO]  Programming Fundamentals\\Course Work\\team_data\\points_table.xlsx')
# allSheetNames = theFile.sheetnames

# print("All sheet names {} " .format(theFile.sheetnames))


# for sheet in allSheetNames:
#     print("Current sheet name is {}" .format(sheet))
#     currentSheet = theFile[sheet]
#     # print(currentSheet['B4'].value)

#     #print max numbers of rows and columns for each sheet
#     #print(currentSheet.max_row)
#     #print(currentSheet.max_column)

#     for row in range(1, currentSheet.max_row + 1):
#         #print(row)
#         for column in "B":  # Here you can add or reduce the columns
#             cell_name = "{}{}".format(column, row)
#             #print(cell_name)
#             print("cell position {} has value {}".format(cell_name, currentSheet[cell_name].value))
#             # ws[cell_name] = 4
#             currentSheet[cell_name] = 4

In [30]:
# import pandas as pd
# from openpyxl import load_workbook

# wb = load_workbook(r'E:\\IIT\\1st Year\\1st Trimester\\CM1601 [PRO]  Programming Fundamentals\\Course Work\team_data\\points_table.xlsx')
# ws = wb.active


# for row in ws.values:
#    for value in row:
#      print(value)

# Generate random match:

In [31]:
# import random


#assinging 
Group_A = [Mumbai_India,Chennai_SouthAfrica,Delhi_NewZealand,RoyalChallengers_Bangladesh ]
Group_B = [Rajastan_Australia,Kolkata_England,Punjab_Pakistan,Sunrisers_SriLanka]



match_between_A = random.sample(Group_A, 2)
match_between_B = random.sample(Group_B, 2)



chosen_match = [match_between_A,match_between_B]
match_between = random.choice(chosen_match)


print(match_between)

[['Chennai_SouthAfrica', 'E:\\\\IIT\\\\1st Year\\\\1st Trimester\\\\CM1601 [PRO]  Programming Fundamentals\\\\Course Work\\\\team_data\\\\Chennai_SouthAfrica\\\\Chennai_SouthAfrica.xlsx'], ['Delhi_NewZealand', 'E:\\\\IIT\\\\1st Year\\\\1st Trimester\\\\CM1601 [PRO]  Programming Fundamentals\\\\Course Work\\\\team_data\\\\Delhi_NewZealand\\\\Delhi_NewZealand.xlsx']]

# The team who won the toss takes the decision (Ball first or bat first)

In [32]:
# import random

coin = ["heads", "tails"]
options = ['bat','bowl']
team_to_bat = []
team_to_bowl = []

visiting_team = random.choice(match_between)

if visiting_team in match_between:
    match_between.remove(visiting_team)

home_team = match_between[0]


toss = random.choice(coin)            # This simulates the coin being tossed
choose = random.choice(options)       # This simulates the visiting team choose bat or bowl
selection = random.choice(coin)       # This simulates the visiting team choose head or tails

print('Home Team', home_team[0])
print('Visiting Team', visiting_team[0])

if selection == toss:
    print(visiting_team[0], 'won the toss and chose to', choose)
    if choose == options[0]:
        team_to_bat = visiting_team
        team_to_bowl = home_team
    else:
        team_to_bat = home_team
        team_to_bowl = visiting_team
    
else:
    print(home_team[0], 'won the toss and chose to', choose)
    if choose == options[0]:
        team_to_bat = home_team
        team_to_bowl = visiting_team
    else:
        team_to_bat = visiting_team
        team_to_bowl = home_team

Home Team Chennai_SouthAfrica
Visiting Team Delhi_NewZealand
Chennai_SouthAfrica won the toss and chose to bowl

In [33]:

print('team_to_bat', team_to_bat[0])
print('team_to_bowl', team_to_bowl[0])

team_to_bat Delhi_NewZealand
team_to_bowl Chennai_SouthAfrica

# Then program initiates the first innings.
# Scores of each batsman, balls took for scoring, wickets by bowlers, overs, fall of wickets, the method of the dismissal, final score of the innings

In [34]:
# import random
# import pandas as pd
# from operator import itemgetter


first_ing_total = 0
first_ing_wickets = 0
balls = 1
TOTAL_WICKETS = 10
TOTAL_BALLS = 120
score_card_first_ing = []


batsman_onstrike = [['name', 0, 0], True]
batsman_offstrike = [['name', 0, 0], False]


bowler_onstrike = []



# batsman_name , runs , balls_faced , method of dismissal , bowler
#importing batting team
batting_url = team_to_bat[1]
batting_team = pd.read_excel(batting_url)
#converting excel to python list
yet_to_bat = batting_team.values.tolist()        

# bowlers_name , balls , runs , wickets
#importing bowling team
bowling_url = team_to_bowl[1]
bowling_team = pd.read_excel(bowling_url)
#converting excel to python list
bowling_team_list = bowling_team.values.tolist()  


yet_to_bowl = []

for i in reversed(range(len(bowling_team_list))):
    if len(yet_to_bowl) < 5 :
        yet_to_bowl.append([bowling_team_list[i][0], 0, 0, 0])



dismissed_batsmen = []
batsman_list = []



# method of dismissal
method_of_dismissal = ['Bowled', 'Caught', 'LBW']


bowler_score = 0  # score counting variable for bowler
batter_score = 0  # score counting variable for batsman


# opening batsmen coming to the field
batsman_onstrike[0] = yet_to_bat.pop(0)
batsman_offstrike[0] = yet_to_bat.pop(0)


# opening bowler
bowler_onstrike = yet_to_bowl.pop(0)


while (balls < (TOTAL_BALLS+1)):
    if first_ing_wickets == TOTAL_WICKETS:
        break
    else:
        if ((balls-1) > 0 and (balls-1) % 6 == 0) and (len(yet_to_bowl)) > 0:
            yet_to_bowl.append(bowler_onstrike)
            # bowler_onstrike[0] = []
            bowler_onstrike = yet_to_bowl.pop(0)

        # get random scores for bowler and batsman
        bowler_score = random.randint(1, 6)
        batter_score = random.randint(0, 6)

        if bowler_score == batter_score:
            # adding wickets to bowler
            current_bowler_onstrike_first_ing_wickets = 0
            current_bowler_onstrike_first_ing_wickets = bowler_onstrike[3]
            bowler_onstrike[3] = current_bowler_onstrike_first_ing_wickets + 1
            # adding balls to batsman
            current_batsman_onstrike_balls = batsman_onstrike[0][2]
            batsman_onstrike[0][2] = current_batsman_onstrike_balls + 1

            # moving the dismissed_batsmen to dismissed_batsmen array
            dismissed_batsmen.append(batsman_onstrike[0])


            # adding method of dismissal to batsman
            current_batsman_method_of_dismissal = random.choices(
                method_of_dismissal)
            batsman_onstrike[0][3] = current_batsman_method_of_dismissal[0]

            # adding dismissed bowler name to batsman
            current_batsman_bowler_dismissed = batsman_onstrike[0][4]
            batsman_onstrike[0][4] = current_batsman_bowler_dismissed + \
                str(bowler_onstrike[0])

            # fall of wickets
            print('FOW', first_ing_total, ' --> ', first_ing_wickets+1, ' on over -', int(balls/6), '.', (balls) % 6 , batsman_onstrike[0][0])

            #bring new batsman to the crease (batsman_onstrike)
            if len(yet_to_bat) > 0:
                batsman_onstrike[0] = []
                batsman_onstrike[0] = yet_to_bat.pop(0)


            # out - add wicket to wickets
            first_ing_wickets += 1



        else:
            # adding batter_score to current_batsman
            current_batsman_onstrike_score = 0
            current_batsman_onstrike_score = batsman_onstrike[0][1]
            batsman_onstrike[0][1] = current_batsman_onstrike_score + batter_score

            # adding balls to current_batsman
            current_batsman_onstrike_balls = batsman_onstrike[0][2]
            batsman_onstrike[0][2] = current_batsman_onstrike_balls + 1

            # adding batter_score to current_bowler
            current_bowler_onstrike_runs = 0
            current_bowler_onstrike_runs = bowler_onstrike[2]
            bowler_onstrike[2] = current_bowler_onstrike_runs + batter_score

            # swapping onstrike batsman when strike rotates
            if batter_score == 1 or batter_score == 3:
                current_batsman = batsman_onstrike[0]
                # swapping onstrike batsman
                batsman_onstrike[0] = batsman_offstrike[0]
                batsman_offstrike[0] = current_batsman
            else:
                pass  # when batter_score is not swapping

            # add batter score to first_ing_total
            first_ing_total += batter_score

    # adding balls to bowler
    current_bowler_onstrike_balls = 0
    current_bowler_onstrike_balls = bowler_onstrike[1]
    bowler_onstrike[1] = current_bowler_onstrike_balls + 1
    balls += 1

# last dismissed batsman
last_dismissal = dismissed_batsmen[-1]
# print('Last dismissal', last_dismissal)

#add dismissed_batsmen to batsman_list
batsman_list = dismissed_batsmen

#add each batsman in yet_to_bat to batsman_list array for displaying purposes
if len(yet_to_bat) > 0 :
    for i in range(len(yet_to_bat)):
        batsman_list.append(yet_to_bat[i])

#add on and off strike batsmen to batsman_list
if first_ing_wickets != TOTAL_WICKETS:
    batsman_onstrike[0][3] = '* NOT OUT'
    batsman_list.append(batsman_onstrike[0])

batsman_offstrike[0][3] = 'NOT OUT'
batsman_list.append(batsman_offstrike[0])

#add batsman_list to score_card_first_ing
score_card_first_ing = batsman_list


# Total
# print(' Total-', first_ing_total, ' wickets -', first_ing_wickets, ' overs -', int((balls-1)/6), '.', (balls-1) % 6, ' balls', (balls-1))


# sort score_card_first_ing to the original batting order
sorted_list = sorted(score_card_first_ing, key=itemgetter(5))


# Print score_card_first_ing in a data frame
df_score_card_first_ing = pd.DataFrame(sorted_list)
# print(df_score_card_first_ing)


#add bowlers to bowler_list_first_ing
bowler_list_first_ing = yet_to_bowl
bowler_list_first_ing.append(bowler_onstrike)

df_bowler_list_first_ing = pd.DataFrame(bowler_list_first_ing)
# print(df_bowler_list_first_ing)

FOW 16  -->  1  on over - 0 . 5 Martin Guptill
FOW 70  -->  2  on over - 3 . 5 Daryl Mitchell
FOW 71  -->  3  on over - 4 . 1 Kane Williamson(C)
FOW 86  -->  4  on over - 5 . 2 Glenn Phillips
FOW 102  -->  5  on over - 6 . 1 Devon Conway
FOW 119  -->  6  on over - 7 . 2 James Neesham
FOW 124  -->  7  on over - 8 . 1 Mitchell Santner
FOW 130  -->  8  on over - 8 . 3 Ish Sodhi
FOW 135  -->  9  on over - 8 . 5 Tim Southee
FOW 177  -->  10  on over - 11 . 0 Trent Boult

In [35]:
print('\nTotal-', first_ing_total, '\nwickets -', first_ing_wickets, '\novers -', int((balls-1)/6), '.', (balls-1) % 6, '\nballs', (balls-1))
print('\nLast dismissal', last_dismissal)

Total- 177
wickets - 10
overs - 11 . 0
balls 66

Last dismissal ['Trent Boult', 19, 7, 'LBW', ' Tabraiz Shamsi', 11]

In [36]:
new_headers = ['Batting','Runs','Balls Faced','MOD','Bowler','Batting No']
df_score_card_first_ing.columns = new_headers
df_score_card_first_ing_without_index = df_score_card_first_ing.set_index('Batting')
df_score_card_first_ing_without_index

                    Runs  Balls Faced      MOD             Bowler  Batting No
Batting
Martin Guptill        13            4      LBW     Tabraiz Shamsi           1
Daryl Mitchell        11            6      LBW      Kagiso Rabada           2
Kane Williamson(C)    46           14   Caught   Dwaine Pretorius           3
Devon Conway           7            3      LBW      Anrich Nortje           4
Glenn Phillips        15            7   Caught     Tabraiz Shamsi           5
James Neesham         25            8      LBW     Keshav Maharaj           6
Mitchell Santner       2            3      LBW      Kagiso Rabada           7
Adam Milne            28           10  NOT OUT                              8
Ish Sodhi              6            2   Caught      Kagiso Rabada           9
Tim Southee            5            2   Caught      Kagiso Rabada          10
Trent Boult           19            7      LBW     Tabraiz Shamsi          11

In [37]:
new_headers = ['Bowling','Balls','Runs','Wickets']
df_bowler_list_first_ing.columns = new_headers
df_bowler_list_first_ing_without_index = df_bowler_list_first_ing.set_index('Bowling')
df_bowler_list_first_ing_without_index

                  Balls  Runs  Wickets
Bowling
Anrich Nortje        12    31        1
Keshav Maharaj       12    32        1
Kagiso Rabada        12    29        4
Dwaine Pretorius     12    30        1
Tabraiz Shamsi       18    55        3

In [38]:
# this is the way to write data to excel file
# Creating Excel Writer Object from Pandas  

writer = pd.ExcelWriter('test.xlsx',engine='xlsxwriter')   
workbook=writer.book
worksheet=workbook.add_worksheet('Validation')
writer.sheets['Validation'] = worksheet
df_score_card_first_ing.to_excel(writer,sheet_name='Validation',startrow=0 , startcol=0)   
df_bowler_list_first_ing.to_excel(writer,sheet_name='Validation',startrow=19, startcol=0)  

writer.save()
writer.close()

C:\Users\nadun\AppData\Local\Programs\Python\Python39\lib\site-packages\xlsxwriter\workbook.py:339: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")

# Next the second innings start and as explained above the algorithm needs to generate random figures.

In [39]:
# import random
# import pandas as pd
# from operator import itemgetter


second_ing_total = 0
second_ing_wickets = 0
balls = 1
TOTAL_WICKETS = 10
TOTAL_BALLS = 120
score_card_second_ing = []


batsman_onstrike = [['name', 0, 0], True]
batsman_offstrike = [['name', 0, 0], False]


bowler_onstrike = []


# batsman_name , runs , balls_faced , method of dismissal , bowler
#importing batting team
batting_url = team_to_bowl[1]
batting_team = pd.read_excel(batting_url)
#converting excel to python list
yet_to_bat = batting_team.values.tolist()   




# bowlers_name , balls , runs , wickets
#importing bowling team
bowling_url = team_to_bat[1]
bowling_team = pd.read_excel(bowling_url)
#converting excel to python list
bowling_team_list = bowling_team.values.tolist()  


yet_to_bowl = []


for i in reversed(range(len(bowling_team_list))):
    if len(yet_to_bowl) < 5 :
        yet_to_bowl.append([bowling_team_list[i][0], 0, 0, 0])



dismissed_batsmen = []
batsman_list = []



# method of dismissal
method_of_dismissal = ['Bowled', 'Caught', 'LBW']


bowler_score = 0  # score counting variable for bowler
batter_score = 0  # score counting variable for batsman


# opening batsmen coming to the field
batsman_onstrike[0] = yet_to_bat.pop(0)
batsman_offstrike[0] = yet_to_bat.pop(0)


# opening bowler
bowler_onstrike = yet_to_bowl.pop(0)


while (balls < (TOTAL_BALLS+1)):
    if ( (second_ing_wickets == TOTAL_WICKETS) or (second_ing_total > first_ing_total) ) :
        break
    else:
        if ((balls-1) > 0 and (balls-1) % 6 == 0) and (len(yet_to_bowl)) > 0:
            yet_to_bowl.append(bowler_onstrike)
            # bowler_onstrike[0] = []
            bowler_onstrike = yet_to_bowl.pop(0)

        # get random scores for bowler and batsman
        bowler_score = random.randint(1, 6)
        batter_score = random.randint(0, 6)

        if bowler_score == batter_score:
            # adding wickets to bowler
            current_bowler_onstrike_second_ing_wickets = 0
            current_bowler_onstrike_second_ing_wickets = bowler_onstrike[3]
            bowler_onstrike[3] = current_bowler_onstrike_second_ing_wickets + 1
            # adding balls to batsman
            current_batsman_onstrike_balls = batsman_onstrike[0][2]
            batsman_onstrike[0][2] = current_batsman_onstrike_balls + 1

            # moving the dismissed_batsmen to dismissed_batsmen array
            dismissed_batsmen.append(batsman_onstrike[0])


            # adding method of dismissal to batsman
            current_batsman_method_of_dismissal = random.choices(
                method_of_dismissal)
            batsman_onstrike[0][3] = current_batsman_method_of_dismissal[0]

            # adding dismissed bowler name to batsman
            current_batsman_bowler_dismissed = batsman_onstrike[0][4]
            batsman_onstrike[0][4] = current_batsman_bowler_dismissed + \
                str(bowler_onstrike[0])

            # fall of wickets
            print('FOW', second_ing_total, ' --> ', second_ing_wickets+1, ' on over -', int(balls/6), '.', (balls) % 6 , batsman_onstrike[0][0])

            #bring new batsman to the crease (batsman_onstrike)
            if len(yet_to_bat) > 0:
                batsman_onstrike[0] = []
                batsman_onstrike[0] = yet_to_bat.pop(0)


            # out - add wicket to wickets
            second_ing_wickets += 1



        else:
            # adding batter_score to current_batsman
            current_batsman_onstrike_score = 0
            current_batsman_onstrike_score = batsman_onstrike[0][1]
            batsman_onstrike[0][1] = current_batsman_onstrike_score + batter_score

            # adding balls to current_batsman
            current_batsman_onstrike_balls = batsman_onstrike[0][2]
            batsman_onstrike[0][2] = current_batsman_onstrike_balls + 1

            # adding batter_score to current_bowler
            current_bowler_onstrike_runs = 0
            current_bowler_onstrike_runs = bowler_onstrike[2]
            bowler_onstrike[2] = current_bowler_onstrike_runs + batter_score

            # swapping onstrike batsman when strike rotates
            if batter_score == 1 or batter_score == 3:
                current_batsman = batsman_onstrike[0]
                # swapping onstrike batsman
                batsman_onstrike[0] = batsman_offstrike[0]
                batsman_offstrike[0] = current_batsman
            else:
                pass  # when batter_score is not swapping

            # add batter score to second_ing_total
            second_ing_total += batter_score

    # adding balls to bowler
    current_bowler_onstrike_balls = 0
    current_bowler_onstrike_balls = bowler_onstrike[1]
    bowler_onstrike[1] = current_bowler_onstrike_balls + 1
    balls += 1

# last dismissed batsman
# last_dismissal = dismissed_batsmen[-1]
# print('Last dismissal', last_dismissal)

#add dismissed_batsmen to batsman_list
batsman_list = dismissed_batsmen

#add each batsman in yet_to_bat to batsman_list array for displaying purposes
if len(yet_to_bat) > 0 :
    for i in range(len(yet_to_bat)):
        batsman_list.append(yet_to_bat[i])

#add on and off strike batsmen to batsman_list
if second_ing_wickets != TOTAL_WICKETS:
    batsman_onstrike[0][3] = '* NOT OUT'
    batsman_list.append(batsman_onstrike[0])

batsman_offstrike[0][3] = 'NOT OUT'
batsman_list.append(batsman_offstrike[0])

#add batsman_list to score_card_second_ing
score_card_second_ing = batsman_list


# Total
# print(' Total-', second_ing_total, ' wickets -', second_ing_wickets, ' overs -', int((balls-1)/6), '.', (balls-1) % 6, ' balls', (balls-1))

# sort score_card_second_ing to the original batting order
sorted_list = sorted(score_card_second_ing, key=itemgetter(5))

# Print score_card_second_ing in a data frame
df_score_card_second_ing = pd.DataFrame(sorted_list)
# print(df_score_card_second_ing)


#add bowlers to bowler_list_second_ing
bowler_list_second_ing = yet_to_bowl
bowler_list_second_ing.append(bowler_onstrike)

df_bowler_list_second_ing = pd.DataFrame(bowler_list_second_ing)
# print(df_bowler_list_second_ing)

FOW 13  -->  1  on over - 1 . 1 Quinton de Kock
FOW 13  -->  2  on over - 1 . 2 Rassie Va der Dussen
FOW 22  -->  3  on over - 2 . 0 Temba Bavuma(C)
FOW 78  -->  4  on over - 5 . 1 David Miller
FOW 106  -->  5  on over - 6 . 5 Aiden Markram
FOW 113  -->  6  on over - 7 . 4 Reeza Hendricks
FOW 126  -->  7  on over - 8 . 3 Kagiso Rabada
FOW 132  -->  8  on over - 8 . 5 Keshav Maharaj
FOW 143  -->  9  on over - 9 . 4 Dwaine Pretorius
FOW 143  -->  10  on over - 10 . 1 Tabraiz Shamsi

In [40]:
print('\nTotal-', second_ing_total, '\nwickets -', second_ing_wickets, '\novers -', int((balls-1)/6), '.', (balls-1) % 6, '\nballs', (balls-1))
print('\nLast dismissal', last_dismissal)

Total- 143
wickets - 10
overs - 10 . 1
balls 61

Last dismissal ['Trent Boult', 19, 7, 'LBW', ' Tabraiz Shamsi', 11]

In [41]:
new_headers = ['Batting','Runs','Balls Faced','MOD','Bowler','Batting No']
df_score_card_second_ing.columns = new_headers
df_score_card_second_ing_without_index = df_score_card_second_ing.set_index('Batting')
df_score_card_second_ing_without_index

,Runs,Balls Faced,MOD,Bowler,Batting No
Batting,,,,,
Temba Bavuma(C),17,8,Caught,Tim Southee,1
Quinton de Kock,0,1,Caught,Tim Southee,2
Rassie Va der Dussen,0,1,Caught,Tim Southee,3
Aiden Markram,29,12,Caught,Tim Southee,4
David Miller,45,15,LBW,Trent Boult,5
Reeza Hendricks,18,7,LBW,Ish Sodhi,6
Dwaine Pretorius,8,4,Caught,Mitchell Santner,7
Kagiso Rabada,13,5,LBW,Adam Milne,8
Keshav Maharaj,6,2,Caught,Adam Milne,9
Anrich Nortje,7,3,NOT OUT,,10
Tabraiz Shamsi,0,3,Caught,Trent Boult,11

In [42]:
new_headers = ['Bowling','Balls','Runs','Wickets']
df_bowler_list_second_ing.columns = new_headers
df_bowler_list_second_ing_without_index = df_bowler_list_second_ing.set_index('Bowling')
df_bowler_list_second_ing_without_index

                  Balls  Runs  Wickets
Bowling
Tim Southee          12    19        4
Ish Sodhi            12    34        1
Adam Milne           12    35        2
Mitchell Santner     12    23        1
Trent Boult          13    32        2

In [43]:
from openpyxl import load_workbook

book = load_workbook('test.xlsx')
writer = pd.ExcelWriter('test.xlsx', engine='openpyxl') 
writer.book = book

## ExcelWriter for some reason uses writer.sheets to access the sheet.
## If you leave it empty it will not know that sheet Main is already there
## and will create a new sheet.

writer.sheets = dict((ws.title, ws) for ws in book.worksheets)


df_score_card_second_ing.to_excel(writer,sheet_name='Validation',startrow=0 , startcol=9)   
df_bowler_list_second_ing.to_excel(writer,sheet_name='Validation',startrow=19, startcol=9)  

writer.save()

In [44]:
# # this is the way to write data to excel file
# # Creating Excel Writer Object from Pandas  

# summary = pd.read_excel('test.xlsx')

# writer = pd.ExcelWriter('test.xlsx',engine='xlsxwriter')   
# workbook=writer.book
# worksheet=workbook.add_worksheet('Validation')
# writer.sheets['Validation'] = worksheet

# df_score_card_second_ing.to_excel(writer,sheet_name='Validation',startrow=0 , startcol=9)   
# df_bowler_list_second_ing.to_excel(writer,sheet_name='Validation',startrow=19, startcol=9)  

# writer.save()
# writer.close()

# Display match summary for a given match

In [45]:
if selection == toss:
    print(visiting_team[0].replace('_', ' '), 'won the toss and chose to', choose)
else:
    print(home_team[0].replace('_', ' '), 'won the toss and chose to', choose)

Chennai SouthAfrica won the toss and chose to bowl

## first innings

In [46]:
print(team_to_bat[0].replace('_', ' '))
print(df_score_card_first_ing_without_index.nlargest(4, 'Runs'))


print('\n',team_to_bowl[0].replace('_', ' '))
print(df_bowler_list_first_ing_without_index.nlargest(3, 'Wickets'))

print('\nTotal',first_ing_total,'/',first_ing_wickets)

Delhi NewZealand
                    Runs  Balls Faced      MOD             Bowler  Batting No
Batting
Kane Williamson(C)    46           14   Caught   Dwaine Pretorius           3
Adam Milne            28           10  NOT OUT                              8
James Neesham         25            8      LBW     Keshav Maharaj           6
Trent Boult           19            7      LBW     Tabraiz Shamsi          11

 Chennai SouthAfrica
                Balls  Runs  Wickets
Bowling
Kagiso Rabada      12    29        4
Tabraiz Shamsi     18    55        3
Anrich Nortje      12    31        1

Total 177 / 10

## second innings

In [47]:
print(team_to_bowl[0].replace('_', ' '))
print(df_score_card_second_ing_without_index.nlargest(4, 'Runs'))

print('\n',team_to_bat[0].replace('_', ' '))
print(df_bowler_list_second_ing_without_index.nlargest(3, 'Wickets'))

print('\nTarget',first_ing_total+1)
print('Total',second_ing_total,'/',second_ing_wickets)

Chennai SouthAfrica
                 Runs  Balls Faced     MOD        Bowler  Batting No
Batting
David Miller       45           15     LBW   Trent Boult           5
Aiden Markram      29           12  Caught   Tim Southee           4
Reeza Hendricks    18            7     LBW     Ish Sodhi           6
Temba Bavuma(C)    17            8  Caught   Tim Southee           1

 Delhi NewZealand
             Balls  Runs  Wickets
Bowling
Tim Southee     12    19        4
Adam Milne      12    35        2
Trent Boult     13    32        2

Target 178
Total 143 / 10

In [48]:
if (second_ing_total > first_ing_total) :
    # print('second_ing_total',second_ing_total)
    print(team_to_bowl[0].replace('_', ' ') , 'Won by' ,TOTAL_WICKETS-second_ing_wickets , 'wickets')
elif (second_ing_total < first_ing_total):
    # print('first_ing_total',first_ing_total) 
    print(team_to_bat[0].replace('_', ' ' ), 'Won by' , (first_ing_total-second_ing_total) , 'runs')
else :
    print('Match drawn')

Delhi NewZealand Won by 34 runs

# Store team/player and match information in a text file

# Load team/player and match data once you restart the application