# Importing Modules

In [104]:
import random
import pandas as pd
from operator import itemgetter

# Store information about teams and players.

In [105]:
Mumbai_India = ['Mumbai_India',r'E:\\IIT\\1st Year\\1st Trimester\\CM1601 [PRO]  Programming Fundamentals\\Course Work\\team_data\\Mumbai_India\\Mumbai_India.xlsx']
Chennai_SouthAfrica = ['Chennai_SouthAfrica',r'E:\\IIT\\1st Year\\1st Trimester\\CM1601 [PRO]  Programming Fundamentals\\Course Work\\team_data\\Chennai_SouthAfrica\\Chennai_SouthAfrica.xlsx']
Delhi_NewZealand = ['Delhi_NewZealand',r'E:\\IIT\\1st Year\\1st Trimester\\CM1601 [PRO]  Programming Fundamentals\\Course Work\\team_data\\Delhi_NewZealand\\Delhi_NewZealand.xlsx']
RoyalChallengers_Bangladesh = ['RoyalChallengers_Bangladesh',r'E:\\IIT\\1st Year\\1st Trimester\\CM1601 [PRO]  Programming Fundamentals\\Course Work\\team_data\\RoyalChallengers_Bangladesh\\RoyalChallengers_Bangladesh.xlsx']
Rajastan_Australia =  ['Rajastan_Australia',r'E:\\IIT\\1st Year\\1st Trimester\\CM1601 [PRO]  Programming Fundamentals\\Course Work\\team_data\\Rajastan_Australia\\Rajastan_Australia.xlsx']
Kolkata_England = ['Kolkata_England',r'E:\\IIT\\1st Year\\1st Trimester\\CM1601 [PRO]  Programming Fundamentals\\Course Work\\team_data\\Kolkata_England\\Kolkata_England.xlsx']
Punjab_Pakistan = ['Punjab_Pakistan',r'E:\\IIT\\1st Year\\1st Trimester\\CM1601 [PRO]  Programming Fundamentals\\Course Work\\team_data\\Punjab_Pakistan\\Punjab_Pakistan.xlsx']
Sunrisers_SriLanka = ['Sunrisers_SriLanka',r'E:\\IIT\\1st Year\\1st Trimester\\CM1601 [PRO]  Programming Fundamentals\\Course Work\\team_data\\Sunrisers_SriLanka\\Sunrisers_SriLanka.xlsx']

# Assinging teams to groups

In [106]:
Group_A = [Mumbai_India,Chennai_SouthAfrica,Delhi_NewZealand,RoyalChallengers_Bangladesh ]
Group_B = [Rajastan_Australia,Kolkata_England,Punjab_Pakistan,Sunrisers_SriLanka]

# The user can edit player and team profiles and the system is giving separate options for each and every functionality

In [107]:
# sl = pd.read_excel(r'team data\groupA\sl.xlsx')
# england = pd.read_excel(r'team data\groupA\eng.xlsx')
# westIndies = pd.read_excel(r'team data\groupA\wi.xlsx')
# southAfrica = pd.read_excel(r'team data\groupA\sa.xlsx')
# india = pd.read_excel(r'team data\groupB\ind.xlsx')
# australia = pd.read_excel(r'team data\groupB\aus.xlsx')
# newZieland = pd.read_excel(r'team data\groupB\nz.xlsx')
# pakistan = pd.read_excel(r'team data\groupB\pak.xlsx')


#function of showing the team and editable options
def GetTeam(teamName):
    print(GetTeam)
    df = pd.read_excel(r'E:\\IIT\\1st Year\\1st Trimester\\CM1601 [PRO]  Programming Fundamentals\\Course Work\\team_data\\'+teamName+'\\'+teamName+'.xlsx')
    editable_options = df.iloc[:, :1]
    print(editable_options)

#function of editing the editable options
def EditTeam(teamName):
    df = pd.read_excel(r'E:\\IIT\\1st Year\\1st Trimester\\CM1601 [PRO]  Programming Fundamentals\\Course Work\\team_data\\'+teamName+'\\'+teamName+'.xlsx')
    df.at[row, col] = val
    print(df.iloc[:, 0])
    df.to_excel(r'E:\\IIT\\1st Year\\1st Trimester\\CM1601 [PRO]  Programming Fundamentals\\Course Work\\team_data\\'+teamName+'\\'+teamName+'.xlsx', index=False)

In [108]:
print("----------------------------------------------------------------------------------IIT Cricket Premier League 2021-----------------------------------------------------------------------------------------------------")
print()


getData = int(input("Do you want to see any team or player profiles?\n1 - yes \n0 - no \n Select 1 or 0 :  "))

while getData == 1:
    getGroup = int(input("Which group do you want to see? \n1 - group A \n2 - group B \n Select 1 or 2: "))
    if getGroup == 1:
        getTeam = int(input("Which team do you want to see? \n1 - Mumbai India \n2 - Chennai SouthAfrica \n3 - Delhi NewZealand \n4 - RoyalChallengers Bangladesh \n Select a number from 1 to 4 "))
        
        if getTeam == 1:
            # India()
            GetTeam('Mumbai_India')
            editTeam = int(input("Do you want to make any changes on team Mumbai India? \n1 - yes \n0 - no \n Select 1 or 0 :  "))
            while editTeam == 1:
                row = int(input("Which row do you want to edit? "))
                col = input("Column name you want to edit? ")
                val = input("What should be the change then? ")
                # editInd()
                EditTeam('Mumbai_India')
                print("your changes have been saved successfully !!")
                editTeam = int(input("Do you want to make any changes on team Mumbai India again?\n1 - yes \n0 - no \n Select 1 or 0 :   "))
            else:
                getData = int(input("Do you want to see any other team or player profiles?\n1 - yes \n0 - no \n Select 1 or 0 :   "))
                        
        elif getTeam == 2:
            GetTeam('Chennai_SouthAfrica')
            editTeam = int(input("Do you want to make any changes on team South Africa? \n1 - yes \n0 - no \n Select 1 or 0 :  "))
            while editTeam == 1:
                row = int(input("Which row do you want to edit? "))
                col = input("Column name you want to edit? ")
                val = input("What should be the change then? ")
                EditTeam('Chennai_SouthAfrica')
                print("your changes have been saved successfully !!")
                editTeam = int(input("Do you want to make any changes on team South Africa again?\n1 - yes \n0 - no \n Select 1 or 0 :   "))
            else:
                getData = int(input("Do you want to see any other team or player profiles?\n1 - yes \n0 - no \n Select 1 or 0 :   "))
            
        elif getTeam == 3:
            GetTeam('Delhi_NewZealand')
            editTeam = int(input("Do you want to make any changes on team New Zealand? \n1 - yes \n0 - no \n Select 1 or 0 :  "))
            while editTeam == 1:
                row = int(input("Which row do you want to edit? "))
                col = input("Column name you want to edit? ")
                val = input("What should be the change then? ")
                EditTeam('Delhi_NewZealand')
                print("your changes have been saved successfully !!")
                editTeam = int(input("Do you want to make any changes on team New Zealand again?\n1 - yes \n0 - no \n Select 1 or 0 :   "))
            else:
                getData = int(input("Do you want to see any other team or player profiles?\n1 - yes \n0 - no \n Select 1 or 0 :   "))            

        elif getTeam == 4:
            GetTeam('RoyalChallengers_Bangladesh')
            editTeam = int(input("Do you want to make any changes on team Bangladesh? \n1 - yes \n0 - no \n Select 1 or 0 :  "))
            while editTeam == 1:
                row = int(input("Which row do you want to edit? "))
                col = input("Column name you want to edit? ")
                val = input("What should be the change then? ")
                EditTeam('RoyalChallengers_Bangladesh')
                print("your changes have been saved successfully !!")
                editTeam = int(input("Do you want to make any changes on team Bangladesh again?\n1 - yes \n0 - no \n Select 1 or 0 :   "))
            else:
                getData = int(input("Do you want to see any other team or player profiles?\n1 - yes \n0 - no \n Select 1 or 0 :   ")) 
            
            
    elif getGroup == 2:
        getTeam = int(input("Which team do you want to see? \n1 - Rajastan Australia \n2 - Kolkata England \n3 - Punjab Pakistan \n4 - Sunrisers SriLanka \n Select a number from 1 to 4"))
        if getTeam == 1:
            GetTeam('Rajastan_Australia')
            editTeam = int(input("Do you want to make any changes on team Rajastan Australia?\n1 - yes \n0 - no \n Select 1 or 0 :  "))
            while editTeam == 1:
                row = int(input("Which row do you want to edit? "))
                col = input("Column name you want to edit? ")
                val = input("What should be the change then? ")
                EditTeam('Rajastan_Australia')
                print("your changes have been saved successfully !!")
                editTeam = int(input("Do you want to make any changes on team Rajastan Australia again?\n1 - yes \n0 - no \n Select 1 or 0 :   "))
            else:
                getData = int(input("Do you want to see anyother team or player profiles?\n1 - yes \n0 - no \n Select 1 or 0 :   "))
                
        elif getTeam == 2:
            GetTeam('Kolkata_England')
            editTeam = int(input("Do you want to make any changes on team Kolkata England? \n1 - yes \n0 - no \n Select 1 or 0 :  "))
            while editTeam == 1:
                row = int(input("Which row do you want to edit? "))
                col = input("Column name you want to edit? ")
                val = input("What should be the change then? ")
                EditTeam('Kolkata_England')
                print("your changes have been saved successfully !!")
                editTeam = int(input("Do you want to make any changes on team Kolkata England again?\n1 - yes \n0 - no \n Select 1 or 0 :   "))
            else:
                getData = int(input("Do you want to see anyother team or player profiles?\n1 - yes \n0 - no \n Select 1 or 0 :   "))
                
        elif getTeam == 3:
            GetTeam('Punjab_Pakistan')
            editTeam = int(input("Do you want to make any changes on team Punjab Pakistan? \n1 - yes \n0 - no \n Select 1 or 0 :  "))
            while editTeam == 1:
                row = int(input("Which row do you want to edit? "))
                col = input("Column name you want to edit? ")
                val = input("What should be the change then? ")
                EditTeam('Punjab_Pakistan')
                print("your changes have been saved successfully !!")
                editTeam = int(input("Do you want to make any changes on team Punjab Pakistan again?\n1 - yes \n0 - no \n Select 1 or 0 :   "))
            else:
                getData = int(input("Do you want to see anyother team or player profiles?\n1 - yes \n0 - no \n Select 1 or 0 :   "))
                            
        elif getTeam == 4:
            GetTeam('Sunrisers_SriLanka')
            editTeam = int(input("Do you want to make any changes on team Sunrisers SriLanka? \n1 - yes \n0 - no \n Select 1 or 0 :  "))
            while editTeam == 1:
                row = int(input("Which row do you want to edit? "))
                col = input("Column name you want to edit? ")
                val = input("What should be the change then? ")
                EditTeam('Sunrisers_SriLanka')
                print("your changes have been saved successfully !!")
                editTeam = int(input("Do you want to make any changes on team Sunrisers SriLanka again?\n1 - yes \n0 - no \n Select 1 or 0 :   "))
            else:
                getData = int(input("Do you want to see anyother team or player profiles?\n1 - yes \n0 - no \n Select 1 or 0 :   "))             


print("\n---------------------------------------------------------------------------------------Enjoy the match!!!-----------------------------------------------------------------------------------------------------------")

----------------------------------------------------------------------------------IIT Cricket Premier League 2021-----------------------------------------------------------------------------------------------------


---------------------------------------------------------------------------------------Enjoy the match!!!-----------------------------------------------------------------------------------------------------------

# Generate random match:

In [109]:
match_between_A = random.sample(Group_A, 2)
match_between_B = random.sample(Group_B, 2)



chosen_match = [match_between_A,match_between_B]
match_between = random.choice(chosen_match)


print(match_between)

[['Punjab_Pakistan', 'E:\\\\IIT\\\\1st Year\\\\1st Trimester\\\\CM1601 [PRO]  Programming Fundamentals\\\\Course Work\\\\team_data\\\\Punjab_Pakistan\\\\Punjab_Pakistan.xlsx'], ['Sunrisers_SriLanka', 'E:\\\\IIT\\\\1st Year\\\\1st Trimester\\\\CM1601 [PRO]  Programming Fundamentals\\\\Course Work\\\\team_data\\\\Sunrisers_SriLanka\\\\Sunrisers_SriLanka.xlsx']]

# Points table

In [110]:
points_table = pd.read_excel(r'E:\\IIT\\1st Year\\1st Trimester\\CM1601 [PRO]  Programming Fundamentals\\Course Work\\tournament\\points_table.xlsx')
df_points_table = pd.DataFrame(points_table)
df_points_table

,Group A,Matches_A,Won,Lost,Points,Unnamed: 5,Group B,Matches_B,Won.1,Lost.1,Points.1
0,Mumbai_India,0,0,0,0,NaN,Rajastan_Australia,2,0,0,0
1,Chennai_SouthAfrica,2,0,0,0,NaN,Kolkata_England,1,0,0,0
2,Delhi_NewZealand,2,0,0,0,NaN,Punjab_Pakistan,0,0,0,0
3,RoyalChallengers_Bangladesh,2,0,0,0,NaN,Sunrisers_SriLanka,3,0,0,0

In [111]:
for team in match_between:
    if(team in Group_A):
        group = "Group A"
    else:
        group = "Group B"
    find_team_index = df_points_table.index[df_points_table[group] ==  team[0]].tolist()
    if(group == "Group A"):
        current_match_count = df_points_table.at[find_team_index[0],'Matches_A']
        df_points_table.at[find_team_index,'Matches_A']= current_match_count+1
    else:
        current_match_count = df_points_table.at[find_team_index[0],'Matches_B']
        df_points_table.at[find_team_index,'Matches_B']= current_match_count+1
    print(find_team_index,group,current_match_count)

[2] Group B 0
[3] Group B 3

In [112]:
df_points_table

,Group A,Matches_A,Won,Lost,Points,Unnamed: 5,Group B,Matches_B,Won.1,Lost.1,Points.1
0,Mumbai_India,0,0,0,0,NaN,Rajastan_Australia,2,0,0,0
1,Chennai_SouthAfrica,2,0,0,0,NaN,Kolkata_England,1,0,0,0
2,Delhi_NewZealand,2,0,0,0,NaN,Punjab_Pakistan,1,0,0,0
3,RoyalChallengers_Bangladesh,2,0,0,0,NaN,Sunrisers_SriLanka,4,0,0,0

In [113]:
# Alternative way to update dataframe
# df_points_table.loc[df_points_table['Group A'] == 'RoyalChallengers_Bangladesh', 'Matches'] = 44
# df_points_table

## Write data to excel file by creating Excel Writer Object from Pandas

In [114]:
writer = pd.ExcelWriter(r'E:\\IIT\\1st Year\\1st Trimester\\CM1601 [PRO]  Programming Fundamentals\\Course Work\\tournament\\points_table.xlsx',engine='xlsxwriter')   
workbook=writer.book
worksheet=workbook.add_worksheet('Validation')
writer.sheets['Validation'] = worksheet
df_points_table.to_excel(writer,sheet_name='Validation',startrow=0 , startcol=0 ,index=False)   

writer.save()
writer.close()

C:\Users\nadun\AppData\Local\Programs\Python\Python39\lib\site-packages\xlsxwriter\workbook.py:339: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")

# The team who won the toss takes the decision (Ball first or bat first)

In [115]:
# import random

coin = ["heads", "tails"]
options = ['bat','bowl']
team_to_bat = []
team_to_bowl = []

visiting_team = random.choice(match_between)

if visiting_team in match_between:
    match_between.remove(visiting_team)

home_team = match_between[0]


toss = random.choice(coin)            # This simulates the coin being tossed
choose = random.choice(options)       # This simulates the visiting team choose bat or bowl
selection = random.choice(coin)       # This simulates the visiting team choose head or tails

print('Home Team', home_team[0])
print('Visiting Team', visiting_team[0])

if selection == toss:
    print(visiting_team[0], 'won the toss and chose to', choose)
    if choose == options[0]:
        team_to_bat = visiting_team
        team_to_bowl = home_team
    else:
        team_to_bat = home_team
        team_to_bowl = visiting_team
    
else:
    print(home_team[0], 'won the toss and chose to', choose)
    if choose == options[0]:
        team_to_bat = home_team
        team_to_bowl = visiting_team
    else:
        team_to_bat = visiting_team
        team_to_bowl = home_team

Home Team Punjab_Pakistan
Visiting Team Sunrisers_SriLanka
Punjab_Pakistan won the toss and chose to bowl

In [116]:

print('team_to_bat', team_to_bat[0])
print('team_to_bowl', team_to_bowl[0])

team_to_bat Sunrisers_SriLanka
team_to_bowl Punjab_Pakistan

# Then program initiates the first innings.
# Scores of each batsman, balls took for scoring, wickets by bowlers, overs, fall of wickets, the method of the dismissal, final score of the innings

In [117]:
# import random
# import pandas as pd
# from operator import itemgetter


first_ing_total = 0
first_ing_wickets = 0
balls = 1
TOTAL_WICKETS = 10
TOTAL_BALLS = 120
score_card_first_ing = []


batsman_onstrike = [['name', 0, 0], True]
batsman_offstrike = [['name', 0, 0], False]


bowler_onstrike = []



# batsman_name , runs , balls_faced , method of dismissal , bowler
#importing batting team
batting_url = team_to_bat[1]
batting_team = pd.read_excel(batting_url)
#converting excel to python list
yet_to_bat = batting_team.values.tolist()        

# bowlers_name , balls , runs , wickets
#importing bowling team
bowling_url = team_to_bowl[1]
bowling_team = pd.read_excel(bowling_url)
#converting excel to python list
bowling_team_list = bowling_team.values.tolist()  


yet_to_bowl = []

for i in reversed(range(len(bowling_team_list))):
    if len(yet_to_bowl) < 5 :
        yet_to_bowl.append([bowling_team_list[i][0], 0, 0, 0])



dismissed_batsmen = []
batsman_list = []



# method of dismissal
method_of_dismissal = ['Bowled', 'Caught', 'LBW']


bowler_score = 0  # score counting variable for bowler
batter_score = 0  # score counting variable for batsman


# opening batsmen coming to the field
batsman_onstrike[0] = yet_to_bat.pop(0)
batsman_offstrike[0] = yet_to_bat.pop(0)


# opening bowler
bowler_onstrike = yet_to_bowl.pop(0)


while (balls < (TOTAL_BALLS+1)):
    if first_ing_wickets == TOTAL_WICKETS:
        break
    else:
        if ((balls-1) > 0 and (balls-1) % 6 == 0) and (len(yet_to_bowl)) > 0:
            yet_to_bowl.append(bowler_onstrike)
            # bowler_onstrike[0] = []
            bowler_onstrike = yet_to_bowl.pop(0)

        # get random scores for bowler and batsman
        bowler_score = random.randint(1, 6)
        batter_score = random.randint(0, 6)

        if bowler_score == batter_score:
            # adding wickets to bowler
            current_bowler_onstrike_first_ing_wickets = 0
            current_bowler_onstrike_first_ing_wickets = bowler_onstrike[3]
            bowler_onstrike[3] = current_bowler_onstrike_first_ing_wickets + 1
            # adding balls to batsman
            current_batsman_onstrike_balls = batsman_onstrike[0][2]
            batsman_onstrike[0][2] = current_batsman_onstrike_balls + 1

            # moving the dismissed_batsmen to dismissed_batsmen array
            dismissed_batsmen.append(batsman_onstrike[0])


            # adding method of dismissal to batsman
            current_batsman_method_of_dismissal = random.choices(
                method_of_dismissal)
            batsman_onstrike[0][3] = current_batsman_method_of_dismissal[0]

            # adding dismissed bowler name to batsman
            current_batsman_bowler_dismissed = batsman_onstrike[0][4]
            batsman_onstrike[0][4] = current_batsman_bowler_dismissed + \
                str(bowler_onstrike[0])

            # fall of wickets
            print('FOW', first_ing_total, ' --> ', first_ing_wickets+1, ' on over -', int(balls/6), '.', (balls) % 6 , batsman_onstrike[0][0])

            #bring new batsman to the crease (batsman_onstrike)
            if len(yet_to_bat) > 0:
                batsman_onstrike[0] = []
                batsman_onstrike[0] = yet_to_bat.pop(0)


            # out - add wicket to wickets
            first_ing_wickets += 1

        else:
            # adding batter_score to current_batsman
            current_batsman_onstrike_score = 0
            current_batsman_onstrike_score = batsman_onstrike[0][1]
            batsman_onstrike[0][1] = current_batsman_onstrike_score + batter_score

            # adding balls to current_batsman
            current_batsman_onstrike_balls = batsman_onstrike[0][2]
            batsman_onstrike[0][2] = current_batsman_onstrike_balls + 1

            # adding batter_score to current_bowler
            current_bowler_onstrike_runs = 0
            current_bowler_onstrike_runs = bowler_onstrike[2]
            bowler_onstrike[2] = current_bowler_onstrike_runs + batter_score

            # swapping onstrike batsman when strike rotates
            if batter_score == 1 or batter_score == 3:
                current_batsman = batsman_onstrike[0]
                # swapping onstrike batsman
                batsman_onstrike[0] = batsman_offstrike[0]
                batsman_offstrike[0] = current_batsman
            else:
                pass  # when batter_score is not swapping

            # add batter score to first_ing_total
            first_ing_total += batter_score
            
            #adding extras to the total
            # extras_first_ing = random.randint(1,10)                                                       #check this
            # first_ing_total += extras

    # adding balls to bowler
    current_bowler_onstrike_balls = 0
    current_bowler_onstrike_balls = bowler_onstrike[1]
    bowler_onstrike[1] = current_bowler_onstrike_balls + 1
    balls += 1

# last dismissed batsman
last_dismissal = dismissed_batsmen[-1]


#add dismissed_batsmen to batsman_list
batsman_list = dismissed_batsmen


#add each batsman in yet_to_bat to batsman_list array for displaying purposes
if len(yet_to_bat) > 0 :
    for i in range(len(yet_to_bat)):
        batsman_list.append(yet_to_bat[i])


#add on and off strike batsmen to batsman_list
if first_ing_wickets != TOTAL_WICKETS:
    batsman_onstrike[0][3] = '* NOT OUT'
    batsman_list.append(batsman_onstrike[0])

batsman_offstrike[0][3] = 'NOT OUT'
batsman_list.append(batsman_offstrike[0])


#add batsman_list to score_card_first_ing
score_card_first_ing = batsman_list


#add bowlers to bowler_list_first_ing
bowler_list_first_ing = yet_to_bowl
bowler_list_first_ing.append(bowler_onstrike)


# sort score_card_first_ing to the original batting order
sorted_list = sorted(score_card_first_ing, key=itemgetter(5))



# convert score_card_first_ing to a data frame for displaying
df_score_card_first_ing = pd.DataFrame(sorted_list)


# convert df_bowler_list_first_ing to a data frame for displaying
df_bowler_list_first_ing = pd.DataFrame(bowler_list_first_ing)

FOW 17  -->  1  on over - 1 . 0 Dinesh Chandimal
FOW 17  -->  2  on over - 1 . 1 Charith Asalanka
FOW 32  -->  3  on over - 2 . 0 Pathum Nissanka
FOW 33  -->  4  on over - 2 . 2 Dhananjaya de Silva
FOW 33  -->  5  on over - 2 . 3 Dasun Shanka(C)
FOW 50  -->  6  on over - 3 . 4 Bhanuka Rajapakse
FOW 56  -->  7  on over - 4 . 2 Chamika Karunarathne
FOW 91  -->  8  on over - 6 . 0 Wanindu Hasaranga
FOW 113  -->  9  on over - 7 . 1 Maheesh Theekshana
FOW 116  -->  10  on over - 7 . 4 Dushmantha Chameera

In [118]:
print('\nTotal-', first_ing_total, '\nwickets -', first_ing_wickets, '\novers -', int((balls-1)/6), '.', (balls-1) % 6, '\nballs', (balls-1))
# print('Extras - ',extras_first_ing)
print('\nLast dismissal', last_dismissal)

Total- 116
wickets - 10
overs - 7 . 4
balls 46

Last dismissal ['Dushmantha Chameera', 31, 10, 'Caught', ' Hasan Ali', 9]

In [119]:
new_headers = ['Batting','Runs','Balls Faced','MOD','Bowler','Batting No']
df_score_card_first_ing.columns = new_headers
df_score_card_first_ing_without_index = df_score_card_first_ing.set_index('Batting')
df_score_card_first_ing_without_index

                      Runs  Balls Faced      MOD           Bowler  Batting No
Batting
Dinesh Chandimal         7            3      LBW       Haris Rauf           1
Pathum Nissanka         24            7      LBW   Shaheen Afridi           2
Charith Asalanka         0            1   Caught   Shaheen Afridi           3
Dhananjaya de Silva      1            2      LBW        Hasan Ali           4
Bhanuka Rajapakse       11            6      LBW       Imad Wasim           5
Dasun Shanka(C)          0            1   Bowled        Hasan Ali           6
Wanindu Hasaranga       11            4      LBW       Haris Rauf           7
Chamika Karunarathne     6            4   Caught      Shadab Khan           8
Dushmantha Chameera     31           10   Caught        Hasan Ali           9
Maheesh Theekshana      22            7   Caught        Hasan Ali          10
Lahiru Kumara            3            1  NOT OUT                           11

In [120]:
overs = str(int((balls-1)/6)) + '.'+ str((balls-1) % 6)
first_ing_summary = [[first_ing_total,first_ing_wickets, overs,(balls-1)]]

df_first_ing_summary = pd.DataFrame(first_ing_summary, columns = ['Total' , 'Wickets' , 'Overs' ,'Balls'])
print(df_first_ing_summary.to_string(index = False))

 Total  Wickets Overs  Balls
   116       10   7.4     46

In [121]:
new_headers = ['Bowling','Balls','Runs','Wickets']
df_bowler_list_first_ing.columns = new_headers
df_bowler_list_first_ing_without_index = df_bowler_list_first_ing.set_index('Bowling')
df_bowler_list_first_ing_without_index

                Balls  Runs  Wickets
Bowling
Imad Wasim          6     4        1
Shadab Khan         6    21        1
Haris Rauf         12    37        2
Shaheen Afridi     12    37        2
Hasan Ali          10    17        4

## Write data to excel file by creating Excel Writer Object from Pandas

In [122]:
filename_match = str(visiting_team[0]) + '_vs_' + str(home_team[0])
match_file_path = r'E:\\IIT\\1st Year\\1st Trimester\\CM1601 [PRO]  Programming Fundamentals\\Course Work\\tournament\\matches\\'+ filename_match +'.xlsx'

writer = pd.ExcelWriter(match_file_path,engine='xlsxwriter')   
workbook=writer.book
worksheet=workbook.add_worksheet('Validation')
writer.sheets['Validation'] = worksheet


df_score_card_first_ing.to_excel(writer,sheet_name='Validation',startrow=0 , startcol=0, index=False)


df_first_ing_summary.to_excel(writer,sheet_name='Validation',startrow=14 , startcol=0, index=False)
# first_ing_total.to_excel(writer,sheet_name='Validation',startrow=15 , startcol=0, index=False)
# first_ing_wickets.to_excel(writer,sheet_name='Validation',startrow=16 , startcol=0, index=False)

df_bowler_list_first_ing.to_excel(writer,sheet_name='Validation',startrow=19, startcol=0, index=False)  

writer.save()
writer.close()

C:\Users\nadun\AppData\Local\Programs\Python\Python39\lib\site-packages\xlsxwriter\workbook.py:339: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")

# Next the second innings start and as explained above the algorithm needs to generate random figures.

In [123]:
# import random
# import pandas as pd
# from operator import itemgetter


second_ing_total = 0
second_ing_wickets = 0
balls = 1
TOTAL_WICKETS = 10
TOTAL_BALLS = 120
score_card_second_ing = []


batsman_onstrike = [['name', 0, 0], True]
batsman_offstrike = [['name', 0, 0], False]


bowler_onstrike = []


# batsman_name , runs , balls_faced , method of dismissal , bowler
#importing batting team
batting_url = team_to_bowl[1]
batting_team = pd.read_excel(batting_url)
#converting excel to python list
yet_to_bat = batting_team.values.tolist()   




# bowlers_name , balls , runs , wickets
#importing bowling team
bowling_url = team_to_bat[1]
bowling_team = pd.read_excel(bowling_url)
#converting excel to python list
bowling_team_list = bowling_team.values.tolist()  


yet_to_bowl = []


for i in reversed(range(len(bowling_team_list))):
    if len(yet_to_bowl) < 5 :
        yet_to_bowl.append([bowling_team_list[i][0], 0, 0, 0])



dismissed_batsmen = []
batsman_list = []



# method of dismissal
method_of_dismissal = ['Bowled', 'Caught', 'LBW']


bowler_score = 0  # score counting variable for bowler
batter_score = 0  # score counting variable for batsman


# opening batsmen coming to the field
batsman_onstrike[0] = yet_to_bat.pop(0)
batsman_offstrike[0] = yet_to_bat.pop(0)


# opening bowler
bowler_onstrike = yet_to_bowl.pop(0)


while (balls < (TOTAL_BALLS+1)):
    if ( (second_ing_wickets == TOTAL_WICKETS) or (second_ing_total > first_ing_total) ) :
        break
    else:
        if ((balls-1) > 0 and (balls-1) % 6 == 0) and (len(yet_to_bowl)) > 0:
            yet_to_bowl.append(bowler_onstrike)
            # bowler_onstrike[0] = []
            bowler_onstrike = yet_to_bowl.pop(0)

        # get random scores for bowler and batsman
        bowler_score = random.randint(1, 6)
        batter_score = random.randint(0, 6)

        if bowler_score == batter_score:
            # adding wickets to bowler
            current_bowler_onstrike_second_ing_wickets = 0
            current_bowler_onstrike_second_ing_wickets = bowler_onstrike[3]
            bowler_onstrike[3] = current_bowler_onstrike_second_ing_wickets + 1
            # adding balls to batsman
            current_batsman_onstrike_balls = batsman_onstrike[0][2]
            batsman_onstrike[0][2] = current_batsman_onstrike_balls + 1

            # moving the dismissed_batsmen to dismissed_batsmen array
            dismissed_batsmen.append(batsman_onstrike[0])


            # adding method of dismissal to batsman
            current_batsman_method_of_dismissal = random.choices(
                method_of_dismissal)
            batsman_onstrike[0][3] = current_batsman_method_of_dismissal[0]

            # adding dismissed bowler name to batsman
            current_batsman_bowler_dismissed = batsman_onstrike[0][4]
            batsman_onstrike[0][4] = current_batsman_bowler_dismissed + \
                str(bowler_onstrike[0])

            # fall of wickets
            print('FOW', second_ing_total, ' --> ', second_ing_wickets+1, ' on over -', int(balls/6), '.', (balls) % 6 , batsman_onstrike[0][0])

            #bring new batsman to the crease (batsman_onstrike)
            if len(yet_to_bat) > 0:
                batsman_onstrike[0] = []
                batsman_onstrike[0] = yet_to_bat.pop(0)


            # out - add wicket to wickets
            second_ing_wickets += 1



        else:
            # adding batter_score to current_batsman
            current_batsman_onstrike_score = 0
            current_batsman_onstrike_score = batsman_onstrike[0][1]
            batsman_onstrike[0][1] = current_batsman_onstrike_score + batter_score

            # adding balls to current_batsman
            current_batsman_onstrike_balls = batsman_onstrike[0][2]
            batsman_onstrike[0][2] = current_batsman_onstrike_balls + 1

            # adding batter_score to current_bowler
            current_bowler_onstrike_runs = 0
            current_bowler_onstrike_runs = bowler_onstrike[2]
            bowler_onstrike[2] = current_bowler_onstrike_runs + batter_score

            # swapping onstrike batsman when strike rotates
            if batter_score == 1 or batter_score == 3:
                current_batsman = batsman_onstrike[0]
                # swapping onstrike batsman
                batsman_onstrike[0] = batsman_offstrike[0]
                batsman_offstrike[0] = current_batsman
            else:
                pass  # when batter_score is not swapping

            # add batter score to second_ing_total
            second_ing_total += batter_score
            
            #adding extras to the total
            # extras_second_ing = random.randint(1,10)                                                       #check this
            # second_ing_total += extras


    # adding balls to bowler
    current_bowler_onstrike_balls = 0
    current_bowler_onstrike_balls = bowler_onstrike[1]
    bowler_onstrike[1] = current_bowler_onstrike_balls + 1
    balls += 1


# last dismissed batsman
last_dismissal = dismissed_batsmen[-1]


#add dismissed_batsmen to batsman_list
batsman_list = dismissed_batsmen


#add each batsman in yet_to_bat to batsman_list array for displaying purposes
if len(yet_to_bat) > 0 :
    for i in range(len(yet_to_bat)):
        batsman_list.append(yet_to_bat[i])


#add on and off strike batsmen to batsman_list
if second_ing_wickets != TOTAL_WICKETS:
    batsman_onstrike[0][3] = '* NOT OUT'
    batsman_list.append(batsman_onstrike[0])

batsman_offstrike[0][3] = 'NOT OUT'
batsman_list.append(batsman_offstrike[0])


#add batsman_list to score_card_second_ing
score_card_second_ing = batsman_list


# sort score_card_second_ing to the original batting order
sorted_list = sorted(score_card_second_ing, key=itemgetter(5))


#add bowlers to bowler_list_second_ing
bowler_list_second_ing = yet_to_bowl
bowler_list_second_ing.append(bowler_onstrike)


# convert df_score_card_second_ing to a data frame for displaying
df_score_card_second_ing = pd.DataFrame(sorted_list)


# convert df_bowler_list_second_ing to a data frame for displaying
df_bowler_list_second_ing = pd.DataFrame(bowler_list_second_ing)

FOW 1  -->  1  on over - 0 . 2 pakaya
FOW 37  -->  2  on over - 2 . 2 Mohammad Rizwan
FOW 37  -->  3  on over - 2 . 4 Mohammad Hafeez
FOW 80  -->  4  on over - 5 . 4 Shoaib Malik
FOW 109  -->  5  on over - 7 . 4 Asif Ali
FOW 114  -->  6  on over - 8 . 0 Shadab Khan

In [124]:
print('\nTotal-', second_ing_total, '\nwickets -', second_ing_wickets, '\novers -', int((balls-1)/6), '.', (balls-1) % 6, '\nballs', (balls-1))
# print('Extras',extras_second_ing)
print('\nLast dismissal', last_dismissal)

Total- 120
wickets - 6
overs - 8 . 1
balls 49

Last dismissal ['Shadab Khan', 5, 2, 'LBW', ' Dushmantha Chameera', 7]

In [125]:
new_headers = ['Batting','Runs','Balls Faced','MOD','Bowler','Batting No']
df_score_card_second_ing.columns = new_headers
df_score_card_second_ing_without_index = df_score_card_second_ing.set_index('Batting')
df_score_card_second_ing_without_index

,Runs,Balls Faced,MOD,Bowler,Batting No
Batting,,,,,
Mohammad Rizwan,34,11,LBW,Dushmantha Chameera,1
pakaya,0,1,Caught,Lahiru Kumara,2
Fakhar Zaman,54,21,NOT OUT,,3
Mohammad Hafeez,0,2,LBW,Dushmantha Chameera,4
Shoaib Malik,10,5,Caught,Lahiru Kumara,5
Asif Ali,11,6,Caught,Dushmantha Chameera,6
Shadab Khan,5,2,LBW,Dushmantha Chameera,7
Imad Wasim,6,1,* NOT OUT,,8
Hasan Ali,0,0,,,9
Shaheen Afridi,0,0,,,10
Haris Rauf,0,0,,,11

In [126]:
overs = str(int((balls-1)/6)) + '.'+ str((balls-1) % 6)
second_ing_summary = [[second_ing_total,second_ing_wickets, overs,(balls-1)]]

df_second_ing_summary = pd.DataFrame(second_ing_summary, columns = ['Total' , 'Wickets' , 'Overs' ,'Balls'])
print(df_second_ing_summary.to_string(index = False))

 Total  Wickets Overs  Balls
   120        6   8.1     49

In [127]:
new_headers = ['Bowling','Balls','Runs','Wickets']
df_bowler_list_second_ing.columns = new_headers
df_bowler_list_second_ing_without_index = df_bowler_list_second_ing.set_index('Bowling')
df_bowler_list_second_ing_without_index

                      Balls  Runs  Wickets
Bowling
Wanindu Hasaranga         6     4        0
Lahiru Kumara            12    21        2
Maheesh Theekshana       12    47        0
Dushmantha Chameera      12    18        4
Chamika Karunarathne      7    30        0

## Write data to excel file by creating Excel Writer Object from Pandas

In [128]:
from openpyxl import load_workbook

book = load_workbook(r'E:\\IIT\\1st Year\\1st Trimester\\CM1601 [PRO]  Programming Fundamentals\\Course Work\\tournament\\matches\\'+ filename_match + '.xlsx')
writer = pd.ExcelWriter(r'E:\\IIT\\1st Year\\1st Trimester\\CM1601 [PRO]  Programming Fundamentals\\Course Work\\tournament\\matches\\'+ filename_match + '.xlsx', engine='openpyxl') 
writer.book = book

writer.sheets = dict((ws.title, ws) for ws in book.worksheets)

df_score_card_second_ing.to_excel(writer,sheet_name='Validation',startrow=0 , startcol=9, index=False)  

df_second_ing_summary.to_excel(writer,sheet_name='Validation',startrow=14 , startcol=9, index=False)


# second_ing_total.to_excel(writer,sheet_name='Validation',startrow=15 , startcol=9, index=False)
# second_ing_wickets.to_excel(writer,sheet_name='Validation',startrow=16 , startcol=9, index=False)

df_bowler_list_second_ing.to_excel(writer,sheet_name='Validation',startrow=19, startcol=9, index=False)  

writer.save()
writer.close()

# Display match summary for a given match

## Toss

In [129]:
if selection == toss:
    print(visiting_team[0].replace('_', ' '), 'won the toss and chose to', choose)
else:
    print(home_team[0].replace('_', ' '), 'won the toss and chose to', choose)

Punjab Pakistan won the toss and chose to bowl

## first innings top performers

In [130]:
print(team_to_bat[0].replace('_', ' '))
print(df_score_card_first_ing_without_index.nlargest(4, 'Runs'))


print('\n',team_to_bowl[0].replace('_', ' '))
print(df_bowler_list_first_ing_without_index.nlargest(3, 'Wickets'))

print('\nTotal',first_ing_total,'/',first_ing_wickets)

Sunrisers SriLanka
                     Runs  Balls Faced     MOD           Bowler  Batting No
Batting
Dushmantha Chameera    31           10  Caught        Hasan Ali           9
Pathum Nissanka        24            7     LBW   Shaheen Afridi           2
Maheesh Theekshana     22            7  Caught        Hasan Ali          10
Bhanuka Rajapakse      11            6     LBW       Imad Wasim           5

 Punjab Pakistan
                Balls  Runs  Wickets
Bowling
Hasan Ali          10    17        4
Haris Rauf         12    37        2
Shaheen Afridi     12    37        2

Total 116 / 10

## second innings top performers

In [131]:
print(team_to_bowl[0].replace('_', ' '))
print(df_score_card_second_ing_without_index.nlargest(4, 'Runs'))

print('\n',team_to_bat[0].replace('_', ' '))
print(df_bowler_list_second_ing_without_index.nlargest(3, 'Wickets'))

print('\nTarget',first_ing_total+1)
print('Total',second_ing_total,'/',second_ing_wickets)

Punjab Pakistan
                 Runs  Balls Faced      MOD                Bowler  Batting No
Batting
Fakhar Zaman       54           21  NOT OUT                                 3
Mohammad Rizwan    34           11      LBW   Dushmantha Chameera           1
Asif Ali           11            6   Caught   Dushmantha Chameera           6
Shoaib Malik       10            5   Caught         Lahiru Kumara           5

 Sunrisers SriLanka
                     Balls  Runs  Wickets
Bowling
Dushmantha Chameera     12    18        4
Lahiru Kumara           12    21        2
Wanindu Hasaranga        6     4        0

Target 117
Total 120 / 6

## Match result

In [132]:
if (second_ing_total > first_ing_total) :
    # print('second_ing_total',second_ing_total)
    print(team_to_bowl[0].replace('_', ' ') , 'Won by' ,TOTAL_WICKETS-second_ing_wickets , 'wickets')
elif (second_ing_total < first_ing_total):
    # print('first_ing_total',first_ing_total) 
    print(team_to_bat[0].replace('_', ' ' ), 'Won by' , (first_ing_total-second_ing_total) , 'runs')
else :
    print('Match drawn')

Punjab Pakistan Won by 4 wickets

# Store team/player and match information in a text file

# Load team/player and match data once you restart the application